* {
    margin: 0;
    padding: 0;
    /* outline: red dashed 1px; */
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
    background-color: lightskyblue ;
    color: black;
}

h1 {
    font-size: 250%;
}

nav {
    display: flex;
   /*  justify-content: space-between; */
    justify-content: right;
}

nav ul {
    display: flex;
  /*   justify-content: space-between;
    min-width: 500px; */
}

nav a {
    font-weight: bold;
    font-size: 200%;
    text-decoration: none;
    margin: 0px  50px 0px 50px;
    color:green;
}

nav a:hover {
    color: aliceblue;
}

footer {
    background-color: lightcoral;
}


@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }
}