* {
  margin: 0;
  padding: 0;
}

/* Header */
h1 {
  font-size: 250%;
  color: aliceblue;
}


nav{
  width: 50%;
}
nav ul {
  display: flex;
  
  /*   justify-content: space-between;
    min-width: 500px; */
}

nav a {
  font-weight: bold;
  font-size: 200%;
  text-decoration: none;
  margin: 0px 20% 0px 20%;
  color: maroon;
  border: red dashed 1px;
}

nav a:hover {
  color: aliceblue;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
  background-color: lightskyblue;
  color: black;
}



/* Main */

h2 {
  font-size: 200%;
}

section {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* About Me */
#about-me {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#about-me img{
  border: solid red 5px;
  opacity:.1;
}

#about-me p{
  margin-left: 20px;
  font-size: 150%;
}
/* Works */

.subwork {
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.card {
  position: relative;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

}

.subcard {
  flex-wrap: wrap;
  position: relative;
  margin: 5px;

}

.card img,
.subcard img {
  opacity: 1;
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.textbox {
  transition: .5 ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card:hover,
.subcard:hover {
  opacity: 0.3;
}

.card:hover .textbox,
.subcard:hover .textbox {
  opacity: 1;

}



.textbox p {
  background-color: skyblue;
  color: black;
  padding: 10px 20px;
  font-size: 150%;
}

.textbox a {
  text-decoration: none;
}

/* Contact Info */
.contact ul {
  display: flex;
  justify-content: left;
}

.contact li {
  margin: 2%;
  font-size: 150%;
  color: aquamarine;
}

.contact a {
  text-decoration: none;
  color: aquamarine;
}


/* Footer */
footer {
  background-color: lightcoral;
  height: 50px;
  text-align: center;

}

h3 {}

/* Media */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }



}

@media screen and (max-width: 576px) {

  
  nav {
    display: none;
  }

  .contact ul {
    flex-direction: column;
  }

  footer {
    display: none;
  }
}