* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e1eef1;
}

h1,
h2,
h3 {
  font-family: 'Open Sans', sans-serif;
}

/* Header */
h1 {
  font-size: 250%;
  color: aliceblue;
}


nav {
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

nav a {
  font-weight: bold;
  font-size: 200%;
  text-decoration: none;
  margin: 0px 20px 0px 20px;
  color: coral;
  /* border: red dashed 1px; */
}

nav a:hover {
  color: aliceblue;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
  background-color: lightskyblue;
  color: black;
}



/* Main */

h2 {
  font-size: 200%;
  position: relative;
  margin-left: 20px;

}

section {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* About Me */
.me img {
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border: solid lightskyblue 5px;
  border-radius: 3px;
  margin-bottom: 10px;

}

#about-me p {
  font-size: 150%;
  text-align: center;

}

/* Works */

.subwork {
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.card {
  position: relative;
  width: 49%;
  margin-left: auto;
  margin-right: auto;


}

.subcard {
  flex-wrap: wrap;
  position: relative;
  margin: 5px;
  width: 50%;

}

.card img,
.subcard img {
  opacity: 1;
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.textbox {
  transition: .5 ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card:hover,
.subcard:hover {
  opacity: 0.3;
}

.card:hover .textbox,
.subcard:hover .textbox {
  opacity: 1;

}



.textbox p {
  background-color: skyblue;
  color: black;
  padding: 10px 20px;
  font-size: 150%;
}

.textbox a {
  text-decoration: none;
}

/* Contact Info */
.contact ul {
  display: flex;
  justify-content: left;
}

.contact li {
  margin: 2%;
  font-size: 150%;
  color: coral;
}

.contact a {
  text-decoration: none;
  color: coral;
}


/* Footer */
footer {
  background-color: coral;
  height: 50px;
  text-align: center;


}



/* Media */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }

  nav ul {
    justify-content: center;
  }

  nav a {
    font-size: 140%;
  }

  .contact ul {
    flex-direction: column;
  }

  .me img {
    width: 300px;
  }

  .card {
    width: 100%;
  }

  .subwork {
    width: 100%;
  }

  .textbox p {
    font-size: 130%;
    padding: 10px 10px;

}

@media screen and (max-width: 576px) {


  nav {
    display: none;
  }

  .me img {
    width: 200px;
  }

  #about-me p {
    margin-left: 20px;
    font-size: 100%;

  }

  .textbox p {
    background-color: skyblue;
    color: black;
    
    font-size: 100%;
  }

  footer {
    display: none;
  }
}